table {
    border-collapse: collapse;
    width: 40%;
    margin:auto;
    text-align: center !important;
}
th {
    background-color: #3f51b5;
    color: white;
    text-align: center !important;
}
tr td{
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: #f2f2f2
    }

tr.active td {
  background-color:#123456 !important;
  color: white;
}

.btnSearch{
    margin-left:10px;
    margin-bottom: 10px;
}

.page-content{
    height: 1000px;
    margin-top: 64px;
    padding-top: 20px;
}

.material-icons{
    font-size: 20px;
    cursor: pointer;
}

.modal-dialog{
    margin: 18% auto;
    width: 300px;
}
.modal-body{
    padding:8px;
    border: 1px solid #f0ad4e;
}

.modal-header{
    padding:8px;
    border: 1px solid #f0ad4e;
    background-color: #f0ad4e
}
.modal-title{
        font-size: 15px;
        font-weight: bold;
        color: white; 
}


:host/deep/.mat-input-subscript-wrapper{
  color: red;
}


 